footer {
  background-color: $black;
  padding: $padding;

  p,
  h4,
  a {
    color: $white;
  }

  p {
    padding: $padding 0;
  }
}

.footer-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $padding;
  padding: $padding;
  border-bottom: 1px solid $lightgrey;

  .logo {
    max-width: 260px;
    text-align: center;
    grid-column: span 2;
    margin: 0 auto;

    @include min($screen-lg) {
      margin-right: 3vw;
    }

    img {
      max-width: 170px;
      @include min($screen-md) {
        width: 18vw;
      }
    }
    p {
      padding-top: 10px;
      color: $lightgrey;
      line-height: 1.4em;
    }
  }

  @include min($screen-sm) {
    grid-template-columns: repeat(4, 1fr);

    .logo {
      grid-column: span 4;
    }
  }

  @include min($screen-lg) {
    grid-template-columns: repeat(6, 1fr);

    .logo {
      grid-column: span 2;
    }
  }
}

.footer-links-element {
  h4 {
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: $padding;
  }
  a {
    line-height: 1.4em;
    transition: all 200ms ease-in-out;

    &:hover {
      color: $lightgrey;
    }
  }
}
