@import "layout/header";
@import "layout/mainsection";
@import "layout/footer";

body {
  background-color: $background;
}

.wrapper {
  background-color: $white;
  max-width: 1200px;
  margin: 0 auto;
  @include min($screen-lg) {
    width: 90vw;
  }
}